@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>Hello from our View Template!</p>

<ul>
    <li>@Html.ActionLink("View", "TextView", "HelloWorld")</li>
    <li>@Html.ActionLink("Partial View", "Partial", "HelloWorld")</li>
    <li>@Html.ActionLink("Click to Redirect", "RedirectView", "HelloWorld")</li>
    <li>@Html.ActionLink("JSON", "JSON", "HelloWorld")</li>

</ul>

