@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
</head>
<body>
    <div ng-include="'/Views/HelloWorld/abc'"> </div>
</body>
</html>
